extends layout

block content
  #banner.page-header
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanları keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item  
        h4  
          a(href='/mekan') Hamle Yemek
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 3km
        p.address Isparta Kyk
        p 
          span.label.label-warning Kahvaltı
          | &nbsp;
          span.label.label-warning    Akşam Yemeği
          | &nbsp;
          span.label.label-warning Kantin


  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item  
        h4  
          a(href='/mekan') Rizom Hotel
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star 
        span.badge.pull-right.badge-default 585km
        p.address  Merkez/Isparta
        p 
          span.label.label-warning 2 kişilik odalar
          | &nbsp;
          span.label.label-warning 3 kişilik odalar
          | &nbsp;
          span.label.label-warning VİP odalar

  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item  
        h4  
          a(href='/mekan') Tostçu Dayınız
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star 
        span.badge.pull-right.badge-default 1km
        p.address Isparta Çarşı
        p 
          span.label.label-warning Salçalı Tost
          | &nbsp;
          span.label.label-warning Simit Çeşitleri
          | &nbsp;
          span.label.label-warning  İçecekler


          
